{% extends 'base.html' %}
{% block content %}
   <h2>{{ object_list.author}}</h2>
    <h2>{{ object_list.title}}</h2>
    <h2>{{ object_list.text}}</h2>
    <h2>{{ object_list.created_at}}</h2>
    <h2>{{ object_list.updated_at}}</h2>
    <h2>{{ object_list.views_count}}</h2>
    <h2>{{ object_list.likes_users}}</h2>
    <div>уникальные просмторы: {{ object_list.user_views.count }}</div>
    <div>уникальные просмторы (2): {{ object_list.newsview_set.count }}</div>
     <a href="{% url 'news-update' object_list.pk %}">Изменить</a>
{% endblock %}