{% extends 'base.html' %}
{% block content %}
   <h2>{{ news_object.author}}</h2>
    <h2>{{ news_object.title}}</h2>
    <h2>{{ news_object.text}}</h2>
    <h2>{{ news_object.created_at}}</h2>
    <h2>{{ news_object.updated_at}}</h2>
    <h2>{{ news_object.views_count}}</h2>
    <h2>{{ news_object.likes_users}}</h2>
{% if news_object.photo %}
    <img src="{{ news_object.photo.url }}" height="300px" width="250px">
{% endif %}
     <a href="{% url 'news-update' news_object.pk %}">Изменить</a>
{% endblock %}