<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {%  block my_title %}
            Hand Hunter
        {% endblock %}
    </title>
</head>
<body>

    <nav>
        <a href="/">home</a> |
        <a href="/vacancies">vacancies</a>  |
        <a href="/workers">workers</a>   |
        <a href="/about">about us</a>   |
        <a href="/resume-list">Resumes</a> |
        <a href="/my-resume">My Resume</a> |
        {% if request.user.is_authenticated %}
            Привет, {{request.user.username}}
        {% else %}
            Пожалуйста, авторизуйтесь!
        {% endif %}
    </nav>
    {% block content %}
    {% endblock %}
    <footer>
        <hr>
        88005355<br/>
        Адрес: Бишкек, 7m-n
    </footer>
</body>
</html>